.caixa {
  background-color: var(--cor-primaria);
  border-radius: ();
}
.caixa {
  width: 100%;
  background-color: #f7f7f7;
  border-radius: var(--borda-arredondada);
  box-shadow: var(--sombra-box);
  padding: 1rem;
}
